@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

#root {
    width: 100vw;
    height:100vh;
}


  p {
    padding-left: 1.5%;
  }

  


  

 




  